<li>
  <%= comment.body %> 

  <%#=form_for [@commentable, Comment.new] do |f| %>
      <%#= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%#= f.submit "Reply"  %>
      <%# end %>

  <ul>
  </ul>

</li>

  <%= link_to 'Delete', [comment.commentable, comment],
               :method => :delete,
               data: { confirm: 'Are you sure?' }%>


