<div class='form__field'>
  <%= f.label field_name %>
  <%= f.text_field field_name %>
  <% if error_messages.any? %>
    <ul class='error__messages'>
      <% error_messages.each do |error_message| %>
        <%= content_tag :li, "#{field_name} #{error_message}", class: 'error_message' %>
      <% end %>
    </div>
  <% end %>
</div>
