<div class='card border ds-blue bg-dark-purple'>
  <div class='card__header'>
    <img src=<%= user.gravatar_url %> class='gravatar'>
  </div>
  <div class='card__content'>
    <h4><%= link_to truncate(user.username, length: 20), user_path(user.username), class: 'clr-white' %></h3>
    <p class='clr-white'><%= user.email %></p>
    <p class='clr-white'><%= user.role.titleize %></p>
  </div>
</div>
