<header class='user_profile'>
  <img src=<%= @user.gravatar_url %>>
  <h2><%= @user.username %></h2>
</header>

<main class='user_profile'>
  <h3>Email: <%= @user.email %></h3>
  <%= link_to 'Edit Profile', edit_user_path %>
</main>
