<header>
  <h2>Tag Administration Dashboard</h2>
  <em>Mostly unlimited power</em>
</header>

<main>
  <% @tags.each do |tag| %>
    <%= render partial: 'tag_card', locals: { tag: tag } %>
  <% end %>
</main>
