<div>
  <h4>Comment by <%= comment.user %></h4>
  <p class="comment"><%= comment.body %></p>
</div>


 <%= link_to 'Delete', [comment.post, comment],
               :method => :delete,
               data: { confirm: 'Are you sure?' }
                %>