<div class='card bg-light-purple ds-dark-purple'>
  <div class='card__header flow'>
    <img src=<%= post.user.gravatar_url %>>
    <%= content_tag :h3, post.user.username %>
  </div>
  <div class='card__content flow'>
    <h3><%= link_to post.title, post %></h3>
    <p><%= post.content %></p>
  </div>
</div>
