// Composition styles
.flow > * + * {
  margin-top: 1em;
}

.flow-left > * + * {
  margin-left: var(--flow-space, 1em);
}

header {
  padding: 1rem;
}

main {
  padding: 1rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}
