.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 15px;
  margin-top: 1rem;
}

.card__header {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // border-right: dotted 1px var(--dark-purple);

  img {
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;
  }
}

.card__content {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.5rem;
}

.form__field {
  width: 80%;

  > label {
    align-self: start;
  }

  > input[type="text"] {
  }

  > input[type="email"] {
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

  > input[type="password"] {
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

  > input {
    border: none;
  }
}

.form__actions {
  > input {
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-purple);
    border-radius: 30px;
    border: none;
  }

  > input:hover {
    color: var(--yellow);
    cursor: pointer;
  }
}
