.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 15px;
  margin-top: 1rem;
}

.card__header {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-right: dotted 1px var(--dark-purple);

  img {
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;
  }
}

.card__content {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.5rem;
}

.form__field {
  width: 80%;

  > label {
    align-self: start;
  }

  > input[type="text"] {
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

  > input[type="email"] {
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

  > input[type="password"] {
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    width: 100%;
  }

  > input {
    border: 1px solid var(--blue);
  }
}

.form__actions {
  width: 80%;

  > input {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    width: 100%;
    border: none;
  }

  > input:hover {
    color: var(--blue);
    background-color: var(--yellow);
  }
}

.tag {
  --flow-space: 0.25em;
}

.tag__label {
  align-self: center;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;

  > * {
    color: var(--yellow);
  }
}

.delete-btn {
  display: inline-block;
  border: none;
  border-radius: 1rem;
  background-color: tomato;
  color: var(--white);
}

.delete-btn:hover {
  background-color: #a91a00;
}

.x-btn {
  display: inline-block;
  border: none;
  border-radius: 50%;
  background-color: tomato;
  color: var(--white);
}

.x-btn:hover {
  background-color: #a91a00;
}

.upvote {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--upvote-inactive);
}

.upvote:hover {
  text-decoration: none;
  color: var(--upvote-active);
}

.downvote {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--downvote-inactive);
}

.downvote:hover {
  text-decoration: none;
  color: var(--downvote-active);
}
