.a-hover-gradient {
  background-clip: text;
}

.a-hover-gradient:hover {
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: underline;
}

#post__header {
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px dotted var(--dark-purple);

  h1 {
    padding: 1rem;
  }
}

#post__content {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px dotted var(--dark-purple);

  p {
    font-size: 1.5rem;
    padding: 3rem;
  }
}

#post__comments {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px dotted var(--dark-purple);

  > h4 {
    padding: 1.5rem;
  }
}
