// Global file to manage the application layout
// header {
//   text-align: center;
// }

// main {
//   text-align: center;
// }

// footer {
//   text-align: center;
// }

nav {
  ul {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;

    li {
      margin: 0 1rem;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
